
.card {
  position: relative;
  border: 1px solid var(--card-border);
  box-shadow: 5px 5px var(--c1-mid);
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--card-hover);
  }

  &:hover:active {
    top: 2px;
    left: 2px;
    box-shadow: 3px 3px var(--c1-dark);
  }
}
