@import "../../variables.css";

.collections-view {
  margin-left: 20px;
  
  .collections-title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .collections-card-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    & > * {
      margin-right: 20px;
    }
  }
}
