@import "../../variables.scss";
@import "./Card.scss";

.collection-card {
  width: 200px;
  height: 300px;

  .collection-card-title {
    color: $card-title;
    margin-bottom: 3px;
  }

  .collection-card-count {
    margin-top: 0px;
    color: $subtitle-gray;
  }

  .collection-card-description {
    font-family: Raleway;
  }
}
