@import '../../variables.scss';

$animationTime: 200ms;

.kai-dropdown, .nav-dropdown-toggle, .dropdown-list {
    z-index: 200;
}

.kai-dropdown {
    width: 60px;
    display: flex;
    height: 100%;
    align-items: center;
    color: $p2c1;
    cursor: default;
    position: relative;

    .nav-dropdown-toggle {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: $navFontSize;

        &.open {
            background-color: $p3c5;
            animation-name: openToggle;
            animation-duration: $animationTime;
        }

        &.loaded {
            background-color: $p1c5;
        }

        &.closed {
            background-color: $p1c5;
            animation-name: closeToggle;
            animation-duration: $animationTime;
        }

        &:hover {
            color: $white;
            cursor: pointer;
        }
    }

    svg {
        padding-left: 6px;
    }
    
    .dropdown-list {
        padding-left: 3px;
        padding-right: 3px;
        position: absolute;
        top: 60;
        left: 0;
        transform-origin: top;

        &.loaded {
            transform: scaleY(0);
            background-color: $p1c5;
        }

        &.closed {
            transform: scaleY(0);
            background-color: $p1c5;
            animation-name: closeDropdown;
            animation-duration: $animationTime;
        }

        &.open {
            transform: scaleY(1);
            background-color: $p3c5;
            animation-name: openDropdown;
            animation-duration: $animationTime;
        }

        .menu-item {
            width: 100%;
            a {
                width: 100%;
            }
        }
    }
}

@keyframes openToggle {
    from { background-color: $p1c5; }
    to { background-color: $p3c5; }
}

@keyframes closeToggle {
    from { background-color: $p3c5; }
    to { background-color: $p1c5; }
}

@keyframes openDropdown {
    from {
        background-color: $p1c5;
        transform: scaleY(0);
    }
    to {
        background-color: $p3c5;
        transform: scaleY(1);
    }
}

@keyframes closeDropdown {
    from {
        background-color: $p3c5;
        transform: scaleY(1);
    }
    to {
        background-color: $p1c5;
        transform: scaleY(0);
    }
}