@import '../../variables.scss';

$navHeight: 60;

.navbar-container {
    .main-navbar {
        height: $navHeight + px;
        position: relative;
        z-index: 100;
        background-color: $p1c5;
        display: flex;
        flex-direction: row;

        .navbar-brand {
            color: $white ;
        }

        .nav-link {
            color: $grey;

            &:hover {
                color: $white;
            }
        }
    }
}