# Java Stuff
generated_src
out
build

# Idea Studd
*.iml
*.ipr
*.iws

# Gradle
gradle-*
.gradle

# Node
app/node_modules
app/coverage
app/build
app/dist
**/yarn-error.log

# Logs
log

# VS Code
.vscode
