@import "../../variables.css";

.kai-dropdown,
.nav-dropdown-toggle,
.dropdown-list {
  z-index: 200;
}

.kai-dropdown {
  --animationTime: 200ms;
  width: 60px;
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--menu-text-color);
  cursor: default;
  position: relative;

  .nav-dropdown-toggle {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: var(--nav-font-size);

    &.open {
      background-color: var(--menu-open-color);
      animation-name: openToggle;
      animation-duration: var(--animationTime);
    }

    &.loaded {
      background-color: var(--menu-closed-color);
    }

    &.closed {
      background-color: var(--menu-closed-color);
      animation-name: closeToggle;
      animation-duration: var(--animationTime);
    }

    &:hover {
      color: var(--menu-text-hover-color);
      cursor: pointer;
    }
    
    & > * {
      pointer-events: none;
    }
  }

  svg {
    padding-left: 6px;
  }

  .dropdown-list {
    position: absolute;
    top: var(--nav-height);
    left: 0px;
    transform-origin: top;

    &.loaded {
      transform: scaleY(0);
      background-color: var(--menu-closed-color);
    }

    &.closed {
      transform: scaleY(0);
      background-color: var(--menu-closed-color);
      animation-name: closeDropdown;
      animation-duration: var(--animationTime);
    }

    &.open {
      transform: scaleY(1);
      background-color: var(--menu-open-color);
      animation-name: openDropdown;
      animation-duration: var(--animationTime);
    }

    .menu-item {
      padding-left: 3px;
      padding-right: 3px;
      width: 100%;
      a {
        width: 100%;
      }
    }
  }
}

@keyframes openToggle {
  from {
    background-color: var(--menu-closed-color);
  }
  to {
    background-color: var(--menu-open-color);
  }
}

@keyframes closeToggle {
  from {
    background-color: var(--menu-open-color);
  }
  to {
    background-color: var(--menu-closed-color);
  }
}

@keyframes openDropdown {
  from {
    background-color: var(--menu-closed-color);
    transform: scaleY(0);
  }
  to {
    background-color: var(--menu-open-color);
    transform: scaleY(1);
  }
}

@keyframes closeDropdown {
  from {
    background-color: var(--menu-open-color);
    transform: scaleY(1);
  }
  to {
    background-color: var(--menu-closed-color);
    transform: scaleY(0);
  }
}
