@import "../../variables.scss";

.home-container {
  .home-jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
  }

  .home-jumbotron {
    background-color: $background;
  }
}
