@import "../../variables.css";

.loading-problem-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .loading-goban-container {
    display: flex;
    flex-direction: row;
    height: 100%;

    .loading-goban {
      flex: 1;
      margin: 20px;
    }

    .loading-controls {
      width: 400px;
      margin: 20px;
    }
  }
}