@import "../../variables.scss";

.problem-view-title-row {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .title-breadcrumbs {
    width: 50%;
  }

  .problem-index {
    margin-left: 10px;
    margin-right: 10px;
    color: $c3-mid;
  }
}
