/* Montserrat */
@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: MontserratBold;
  src: url('./fonts/Montserrat-Bold.ttf');
}

/* Crimson text */
@font-face {
  font-family: CrimsonText;
  src: url('./fonts/CrimsonText-Roman.ttf');
}

/* Raleway */
@font-face {
  font-family: Raleway;
  src: url('./fonts/Raleway-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}

p, span, textarea {
  font-family: Raleway;
}
